.metadata
classes
*.class
*~
.*~
.hgignore
export.zip
target
bumblebee/target
bumblebee_jruby/target
bumblebee_junit4_acceptance/target
bumblebee_junit4/target
slask*
bumblebee_junit4_acceptance/reports
bumblebee_junit4/reports
bumblebee_jruby/reports
bumblebee_uml/reports
bumblebee/reports
.settings
bumblebee_junit4_acceptance/.settings
.settings/*
org.eclipse.ltk.core.*
fromzip
timereporter/fromzip
junitalt/reports
RemoteSystemsTempFiles